.test{
    display: 'inline';
    margin: 8px;
}
.actions{
    display: flex;
    z-index: 1;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    width: 100%;
    margin: 1.25em auto 0;
}
.upload-modal{
    width:800px;
}
.my-swal {
    z-index: 100000000000;
  }
  